params {
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
}

params {
    modules_testdata_base_path = 's3://ngi-igenomes/testdata/nf-core/modules/'
}

process {
    withName: '.*:MINIMAP2_ALIGN.*' {
        ext.args = '-x asm5 --eqx'
    }
    withName: '.*:SYRI.*' {
        ext.args = ''
    }
    withName: '.*:PLOTSR.*' {
        ext.args = ''
    }
}
